* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}
html {
  height: 100%;
}

p {
  color: #FCEbb6;
}

h1 {
  color: #FCEbb6;
}

h2 {
  color: #FCEbb6;
}

a {
  color: #FCEbb6;
}

a:hover {
  color: rgb(120, 192, 168);
}

small {
  color: #FCEbb6;
}